.single_catalog_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.header_text_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.single_catalog_header_title {
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.single_catalog_header_text {
  color: #696969;
  font-weight: 500;
}

.single_catalog_header_text:hover {
  color: blue;
  transition: all 0.5s ease-in-out;
}
.youtube_icon {
  animation: needHelp 1.5s linear infinite;
}

.single_catalog_status_parent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px;
  margin-top: 10px;
}

.status_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-left: 40px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #656565;
  font-size: 16px;
  padding: 10px 12px;
}

.status_number {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #d8d8d8;
}

.status_active {
  color: #2022a5;
  position: relative;
}

.status_active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2022a5;
}

.need_help_btn {
  background-color: #e1d5ec;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin-right: 45px;
}

/* animations */
@keyframes needHelp {
  0% {
    padding-bottom: 0px;
    transform: rotateZ(0deg);
  }
  25% {
    padding-bottom: 3px;
    transform: rotateZ(5deg);
  }
  50% {
    padding-bottom: 3px;
    transform: rotateZ(0deg);
  }
  75% {
    padding-bottom: 3px;
    transform: rotateZ(-5deg);
  }
  100% {
    padding-bottom: 0px;
    transform: rotateZ(0deg);
  }
}

.search_section_main {
  padding: 30px 10px;
}

.search-container {
  margin: 15px 0px;
  width: 100%;
}
.search-container input {
  width: 500px;
  padding: 10px;
  font-size: 16px;
  padding-left: 40px;
  margin-left: 30px;
  border-radius: 2px;
}

.search-container input:focus {
  outline: 2px solid #cfcfcf;
}

.dropdown-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.dropdown {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}

.dropdown h4 {
  margin: 0 0 10px;
  font-size: 16px;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}

.dropdown li.selected {
  background-color: #007bff;
  color: white;
}

.selected-path {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

/* media queries */
@media only screen and (max-width: 767px) {
  .single_catalog_header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 15px;
    gap: 10px;
  }
  .status_container {
    padding-left: 10px;
  }
  .back_icon {
    padding-top: 4px;
  }
  .single_catalog_header_text {
    font-size: 10px;
  }

  .help_right {
    padding: 5px 15px;
  }

  .single_catalog_status_parent {
    margin-top: unset;
    justify-content: center;
    gap: 30px;
    padding: 0px 0px;
  }

  .status {
    padding: 0px 0px;
    font-size: 12px;
  }
  .need_help_btn {
    padding: 3px;
    gap: 3px;
    text-align: center;
    width: 60px;
    margin-right: 10px;
  }
  .need_help_btn_text {
    font-size: 10px;
  }
  .youtube_icon {
    animation: none;
  }
  .search_section_main {
    padding: 20px 10px;
  }
  .search-container input {
    width: 340px;
  }
  .search_placeholder_text {
    padding-left: unset;
  }
  .search-container {
    margin: 5px 0px;
  }
  .search-container input {
    margin-left: unset;
  }
  .search_icon {
    position: absolute;
    left: 10px;
  }
}
