.single_catalog_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.header_text_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.single_catalog_header_title {
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.single_catalog_header_text {
  color: #696969;
  font-weight: 500;
}

.single_catalog_header_text:hover {
  color: blue;
  transition: all 0.5s ease-in-out;
}
.youtube_icon {
  animation: needHelp 1.5s linear infinite;
}

.single_catalog_status_parent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px;
  margin-top: 10px;
}

.status_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-left: 40px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #656565;
  font-size: 16px;
  padding: 10px 12px;
}

.status_number {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #d8d8d8;
}

.status_active {
  color: #2022a5;
  position: relative;
}

.status_active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2022a5;
}

.need_help_btn {
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 5px;
  margin-right: 45px;
}
.search_section_main {
  padding: 30px 10px;
}

.search-container {
  margin: 15px 0px;
  width: 100%;
}
.search-container input {
  width: 500px;
  padding: 10px;
  font-size: 16px;
  padding-left: 40px;
  margin-left: 30px;
  border-radius: 2px;
}

.search-container input:focus {
  outline: 2px solid #cfcfcf;
}

.dropdown-container {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  padding: 20px 30px;
}

.dropdown {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px 20px;
  width: 220px;
  max-width: 280px !important;
  font-size: 16px;
}

.dropdown h4 {
  margin: 0 0 10px;
  font-size: 16px;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 0px;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}

.dropdown li.selected {
  background-color: #0132c5;
  color: white;
}

.image_upload_section {
  background-color: #fff;
  width: 35%;
  min-width: 320px;
  margin-left: 40px;
}
.path_container {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #8a8a8a;
  text-align: center;
}
.image_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

.image_upload_btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0132c5;
  color: #fff;
  padding: 8px 10px;
  border-radius: 2px;
  cursor: pointer;
}
.image_upload_btn:hover {
  background-color: #3f42e8;
}

.product_details_main {
  margin-top: 15px;
  padding: 10px 50px;
}

.selected_img_parent {
  display: flex;
  align-items: center;
  gap: 30px;
}

.selected_img {
  width: 100px;
  height: 100px;
}

.more_img_btn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dotted #9c9c9c;
}

.add_product_text {
  color: #0132c5;
}

.add_details_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.details_left_section {
  width: 75%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.copy_details_section {
  padding-top: 30px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 8px;
}

.product_details_input_container {
  display: flex;
  flex-wrap: wrap;
}

.details_right_section {
  width: 20%;
  min-width: 180px;
}

/* animations */
@keyframes needHelp {
  0% {
    padding-bottom: 0px;
    transform: rotateZ(0deg);
  }
  25% {
    padding-bottom: 3px;
    transform: rotateZ(5deg);
  }
  50% {
    padding-bottom: 3px;
    transform: rotateZ(0deg);
  }
  75% {
    padding-bottom: 3px;
    transform: rotateZ(-5deg);
  }
  100% {
    padding-bottom: 0px;
    transform: rotateZ(0deg);
  }
}

/* media queries */
@media only screen and (max-width: 769px) {
  .single_catalog_header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 15px;
    gap: 10px;
  }
  .status_container {
    padding-left: 10px;
  }
  .back_icon {
    padding-top: 4px;
  }
  .single_catalog_header_text {
    font-size: 14px;
  }

  .help_right {
    padding: 5px 15px;
  }

  .single_catalog_status_parent {
    margin-top: unset;
    justify-content: space-between;
    gap: 10px;
    margin: 0px 0px;
  }

  .status {
    padding: 0px 0px;
    font-size: 14px;
    gap: 8px;
  }
  .need_help_btn {
    padding: 3px;
    gap: 3px;
    text-align: center;
    width: 60px;
    margin-right: 10px;
  }
  .need_help_btn_text {
    font-size: 10px;
  }
  .youtube_icon {
    animation: none;
  }
  .search_section_main {
    padding: 25px 10px 0px 10px;
  }
  .search-container input {
    width: 85%;
  }
  .search_placeholder_text {
    padding-left: unset;
  }
  .search-container {
    margin: 15px 0px 0px 0px;
  }
  .search-container input {
    margin-left: unset;
  }
  .search_icon {
    position: absolute;
    left: 10px;
  }
  .dropdown-container {
    padding: 15px 10px;
    max-width: 100vh;
    flex-wrap: wrap;
  }
  .dropdown {
    width: 100vw;
    padding: 12px 15px;
  }
  .image_upload_section {
    margin-left: unset !important;
  }
  .path_container {
  }
  .product_details_main {
    padding: 10px 10px;
  }
  .add_product_details_text {
    padding-top: unset;
  }
  .details_left_section {
    width: 100%;
  }
  .copy_details_section {
    padding-top: 12px;
  }
  .add_details_section {
  }
}
